<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated university -->
      <package
            uri="http://university/1.0"
            class="university.UniversityPackage"
            genModel="model/university.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated blog -->
      <package
            uri="blog"
            class="org.eclipse.epsilon.cbp.test.blog.BlogPackage"
            genModel="model/blog.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated organisation -->
      <package
            uri="organisation"
            class="org.eclipse.epsilon.cbp.test.organisation.OrganisationPackage"
            genModel="model/organisation.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated employee -->
      <package
            uri="employee"
            class="org.eclipse.epsilon.cbp.test.employee.EmployeePackage"
            genModel="model/employee.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated node -->
      <package
            uri="node"
            class="org.eclipse.epsilon.cbp.test.node.NodePackage"
            genModel="model/node.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated conference -->
      <package
            uri="conference"
            class="org.eclipse.epsilon.cbp.test.conference.ConferencePackage"
            genModel="model/conference.genmodel"/>
   </extension>

</plugin>
