<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated university -->
      <package
            uri="http://university/1.0"
            class="university.UniversityPackage"
            genModel="model/university.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated blog -->
      <package
            uri="blog"
            class="org.eclipse.epsilon.cbp.test.blog.BlogPackage"
            genModel="model/blog.genmodel"/>
   </extension>

</plugin>
