*.ucls
*.ucls
*.log
*.txt
*.jar
*.class
*.cbpxml
org.eclipse.epsilon.cbp.state2change/Git2CBPConsole.product
org.eclipse.epsilon.cbp.state2change/command.bat
org.eclipse.epsilon.cbp.state2change/command.sh
