<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cbp -->
      <package
            uri="cbp-uri"
            class="cbp.CbpPackage"
            genModel="model/cbp.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CBP -->
      <package
            uri="https://github.com/epsilonlabs/emf-cbp/1.0"
            class="CBP.CBPPackage"
            genModel="model/CBP.genmodel"/>
   </extension>

</plugin>
