<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.compare.rcp.diffEngine">
      <descriptor
            description="DiffEngine for CBP"
            id="org.eclipse.emf.compare.rcp.default.diffEngine"
            impl="org.eclipse.epsilon.cbp.comparison.emfcompare.CBPDiffEngine"
            label="CBPDiffEngine"
            ranking="100">
      </descriptor>
   </extension>
	<extension
         point="org.eclipse.emf.compare.rcp.matchEngine">
      <engineFactory
            class="org.eclipse.epsilon.cbp.comparison.emfcompare.CBPMatchEngineFactory"
            label="CBP Match Engine Factory"
            ranking="30">
      </engineFactory>
   </extension>
   <!--<extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.eclipse.epsilon.cbp.comparison.emfcompare"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/org.eclipse.epsilon.cbp.comparison.emfcompare2/css/default.css">
         </property>
      </product>
   </extension>-->
   

</plugin>
