<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="aaa.Application">
         </run>
      </application>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated node -->
      <package
            uri="node"
            class="org.eclipse.epsilon.cbp.comparison.model.node.NodePackage"
            genModel="model/node.genmodel"/>
   </extension>

</plugin>
